.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  font-style: normal;
  justify-content: start;
  /* all elements except title inherit this fontsize btw, because of em */
  font-size: calc(20px + 2vmin);
  color: black;
  padding-left: 1em;
  padding-top: .60em
}

.title { 
  font-size: calc(40px + 2vmin);
}

.contact { 
  font-size: .30em;
}

h1, h2, h3 { 
  font-style: normal;
  margin-top: 0;
  font-weight: 400;
}

h1 { 
  font-size: .80em;
  margin-bottom: .25em;
}


.App-link {
  color: #61dafb;
}

.exp-h1 {
  font-size: .60em;
  margin-bottom: 0;
}

.exp-h2 { 
  font-size: .50em;
  margin-bottom: 0;
}

ul { 
  margin-bottom: 0;
  margin-top: 0;
}

li { 
  font-size: .4em;
}

.Experience { 
  margin-bottom: 10px;
}